

html,body { 
  background: url("https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
    
    
.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}


/* addbookpage-addbook-form*/
.center-form{
    margin: 0 auto;
    padding-top: 50px;
    max-width: 70%;
}
.form-item{
   margin-bottom: 10px;
   border:3px solid;
   border-color: #858181;
   
}
button[type="submit"]{
    margin-top: 10px;
    margin-bottom: 20px;
    color:#fafafa;
    background-color: #E70E13;   
    border: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-secondary:hover{
    background-color: #858181 !important;
    color:yellow!important;
}
    
@media(min-width:776px){
    .center-form{
        min-height: 240px;
        max-width: 50%;
        margin: 0 auto;
    }
}


/*addbook page, addreview page */

.col-form-label{
    margin-left: 30px;
}
.mainblock{
    margin:20px ;
    background-color: #403641;
}
.form-addbook{
    margin: 30px;
}

.book-form{
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.col-form-label{
    margin: 0;
    padding: 0;
    color: white;
}
.addbook-button{
    text-align: center;
}
.addbook-header{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
}
/*view reviews page */
.review_name{
    color: blue;
}
.person_icon{
    margin-right: 10px;
    color: blue;
}

.review_date{
    color: blue;
}

.each_review{
   
    margin-bottom: 30px;
}
.review_title{
    margin:50px 30px 30px 30px;
}
.review{
    margin-top: 10px;
    margin-left: 20px;
}

/*carousel*/
.carousel-inner img{
    max-height: 710px;
    
}
/* books-page  viewby-page */

.books_header{
    margin-top: 50px;
    margin-bottom: 50px;
}

.div_viewall{
    text-align: right;
}
.viewall{
     
    margin-right: 15px; 
}
.book_category{
    margin-left: 10px;
}

@media(min-width:776px){


.viewall{
     
    margin-right: 25px; 
}

.book_category{
    margin-left: 10px;
}
.card-dick{
    height: 250px;
    margin-bottom: 30px;
}
.card-img{
    height: 250px;
}
.book_display{
    margin-left: 50px;
}
    
}


/*---------------footer-----------------------*/
footer{
    background-color: #403641;
    color: #FEF9F9;
    min-height: 120px;
}
.footer-heading{
    color: #E70E13;
}

.social{
    padding-bottom: 15px;
}
.social li a i{
    margin-top: 10px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding:12px 0;
    border-radius: 50%;
    background-color: #8f8f8f;
    color: #fafafa;
    line-height: 16px;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social li a i:hover{
    background:#E70E13;
}
#footer-details{
    padding: 20px;
}
/*---------------navbar-----------------------*/

.logo{
    background-size:contain;
    width:50px;
}
.logo_name{
background: rgb(121,140,235);
background: radial-gradient(circle, rgba(121,140,235,1) 0%, rgba(224,6,6,1) 100%);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}




.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}
