<!DOCTYPE html>

{% extends 'base.html' %} {% block content %}

<section class="no-gutters container-fluid justify-content-center">
  <div class="row no-gutters review_title justify-content-center">
    <div class="col-12 book_name">
      <h2>{{the_book.book_name}}</h2>
    </div>
  </div>
  <div class="row container-fluid no-gutters justify-content-center ">
    <div class="col-10 col-md-4 ">
      <div class="bookimage">
        <img
          src="{{the_book.image_source}}"
          alt="..."
          width="100%"
          height="auto%"
        />
      </div>
    </div>
    <div class="col-md-7 book-info">
      <div class="row container-fluid no-gutters justify-content-center ">
        <div class="col-10 col-md-8">
          <p>Published: {{the_book.book_year}}</p>
        </div>
        <div class="col-10 col-md-8">
          <p>Author: {{the_book.book_author}}</p>
        </div>
        <div class="col-10 col-md-8">
          <p>Rating: {{the_book.rating}}</p>
        </div>
        <div class="col-10 col-md-8">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Rate book
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a
                name="rating"
                class="dropdown-item"
                href="{{url_for('add_rating',book_id=the_book._id, rating='1')}}"
                >1</a
              >
              <a
                name="rating"
                class="dropdown-item"
                href="{{url_for('add_rating',book_id=the_book._id, rating='2')}}"
                >2</a
              >
              <a
                name="rating"
                class="dropdown-item"
                href="{{url_for('add_rating',book_id=the_book._id, rating='3')}}"
                >3</a
              >
              <a
                name="rating"
                class="dropdown-item"
                href="{{url_for('add_rating',book_id=the_book._id, rating='4')}}"
                >4</a
              >
              <a
                name="rating"
                class="dropdown-item btn-display"
                href="{{url_for('add_rating',book_id=the_book._id, rating='5')}}"
                >5</a
              >
            </div>
          </div>
        </div>
        <div class="col-10 col-md-8">
          <a
            class="btn btn-success btn-display"
            href="{{the_book.book_link}}"
            role="button"
            target="_blank"
            >Buy Book</a
          >
        </div>
        <div class="col-10 col-md-8">
          <h3>Book Discription</h3>

          {{the_book.book_description}}
        </div>
      </div>
    </div>
  </div>


</section>
<div class="section review_title justify-content-center">
  <div class="row no-gutters">
    <div class="col-md-3 book_name">
      <h3>Book Reviews</h3>
    </div>
    <div class="col-md-3 offset-md-4 review_button">
      <button type="submit" class="btn btn-secondary" name="action">
        <a href="{{url_for('add_review',book_id=the_book._id)}}">Add Review</a>
      </button>
    </div>
  </div>
</div>

<div class="section main_review">
  <div class="row no-gutters justify-content-center">
    <div class="col-11 col-md-9">
      {% for review in reviews %}
      <div class="container-fluid each_review">
        <div class="row no-gutters header_review">
          <div class="col-md-6 review_name">
            <i class="fas fa-user-circle"></i>
            {{review.name}}
          </div>
          <div class="col-md-6 review_date">
            {{review.date}}
          </div>
        </div>
        <div class="row no-gutters review_row">
          <div class="col review">
            {{review.review}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<section class="no-gutters container-fluid">
  <div class="row no-gutters container-fluid books_header">
    <div class="col-4 ">
      <h3 class="book_category">Related Books By Category</h3>
    </div>
    <div class="col-4 offset-4  div_viewall">
      <a class="viewall" href="{{url_for('view_by_cat',category_id=the_book.category_id)}}">view all</a>
    </div>
  </div>
  

  
  <div class="row no-gutters book_display">
  {% for book in related_books %}
  
    <div class="col-11 col-md-6 col-lg-4">
      <div class="card-dick ">
        <div class="row no-gutters">
          <div class="col-md-4 card_image">

            <img  src="{{book.image_source}}" class="card-img" alt="..." width="100%"  height="300px"/>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{book.book_name}}</h5>
              <p class="card-text">
                Author: {{book.book_author}}
                <br>
                Year: {{book.book_year}}
                <br>
                   {% if book.rating != "No Rating" %}
                Rating: {{book.rating}} / 5
                {% else %}
                Rating: {{book.rating}}
                {% endif %}
                <br>
                <a href="{{url_for('display_book',book_id=book._id)}}" ><h6>View Book</h6></a>
                
              </p>
              <a class="btn btn-success" href="{{book.book_link}}" role="button" target="_blank" >Buy Book</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {% endfor %}
  </div>
  
  <div class="row no-gutters container-fluid books_header">
    <div class="col-4 ">
      <h3 class="book_category ">Related Books By Author</h3>
    </div>
    <div class="col-4 offset-4  div_viewall">
      <a class="viewall" href="{{url_for('view_by_author',author=the_book.book_author)}}">view all</a>
    </div>
  </div>

   <div class="row no-gutters  book_display">
   {% if not related_books_author  %}
    <div class="col error-meaasge">
    <h4 class=>No Books Found</h4>
    </div>
    {% else   %}
    
  {% for book in related_books_author %}
   
    <div class="col-11 col-md-6 col-lg-4">
      <div class="card-dick ">
        <div class="row no-gutters">
          <div class="col-md-4 card_image">

            <img  src="{{book.image_source}}" class="card-img" alt="..." width="100%"  height="100%"/>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{book.book_name}}</h5>
              <p class="card-text">
                Author: {{book.book_author}}
                <br>
                Year: {{book.book_year}}
                <br>
                   {% if book.rating != "No Rating" %}
                Rating: {{book.rating}} / 5
                {% else %}
                Rating: {{book.rating}}
                {% endif %}
                <br>
                <a href="{{url_for('display_book',book_id=book._id)}}" ><h6>View Book</h6></a>
                
              </p>
              <a class="btn btn-success" href="{{book.book_link}}" role="button" target="_blank" >Buy Book</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    
  </div>

</section>
{% endblock %}
