<!DOCTYPE html>

{% extends 'base.html' %} {% block content %}

<h3 class="addbook-header">Manage book</h3>
<div class="container-fluid">
  <div class="row no-gutters justify-content-center">
    <div class="col-md-8 mainblock">
      <div class="container-fluid book-form">
        <form
          action="{{url_for('update_book',book_id=book._id)}}"
          class="form-addbook"
          method="POST"
        >
          <div
            class="form-group row no-gutters first-form justify-content-center"
          >
            <label for="book_name" class="col-md-2 col-form-label"
              >Book Name</label
            >
            <div class="col-md-8">
              <input
                type="text"
                class="form-control"
                id="book_name"
                name="book_name"
                value="{{book.book_name}}"
                required
              />
            </div>
          </div>
          <div class="form-group row no-gutters justify-content-center">
            <label for="year" class="col-md-2 col-form-label">Year</label>
            <div class="col-md-8">
              <input
                type="text"
                class="form-control"
                id="year"
                name="year"
                value="{{book.book_year}}"
                required
              />
            </div>
          </div>
          <div class="form-group row no-gutters justify-content-center">
            <label for="author" class="col-md-2 col-form-label">Author</label>
            <div class="col-md-8">
              <input
                type="text"
                class="form-control"
                id="author"
                name="author"
                value="{{book.book_author}}"
                required
              />
            </div>
          </div>
          <div class="form-group row no-gutters justify-content-center">
            <label for="image_source" class="col-md-2 col-form-label"
              >Image Source</label
            >
            <div class="col-md-8">
              <input
                type="text"
                class="form-control"
                id="image_source"
                name="image_source"
                value="{{book.image_source}}"
                required
              />
            </div>
          </div>
          <div class="form-group row no-gutters justify-content-center">
            <label for="book_link" class="col-md-2 col-form-label"
              >Book Link</label
            >
            <div class="col-md-8">
              <input
                type="text"
                class="form-control"
                id="book_link"
                name="book_link"
                value="{{book.book_link}}"
                required
              />
            </div>
          </div>
          <div class="form-group row no-gutters justify-content-center">
            <label for="book_category" class="col-md-2 col-form-label"
              >Category</label
            >
            <div class="col-md-8">
              <select
                id="book_category"
                name="book_category"
                class="form-control"
              >
                <option selected>{{book.book_category}}</option>
                {% for category in categories %}
                <option value="{{book.book_category}}"
                  >{{category.category_name}}</option
                >
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group row no-gutters justify-content-center">
            <label for="description" class="col-md-2 col-form-label"
              >Book Description</label
            >
            <div class="col-md-8">
              <textarea
                type="text"
                class="form-control"
                id="description"
                name="description"
                rows="5"
              >{{book.book_description}}</textarea>
            </div>
          </div>
          <div
            class="row no-gutters justify-content-center justify-content-center"
          >
            <div class="col-md-3 justify-content-center addbook-button">
              <button type="submit" class="btn btn-secondary" name="action">
                Edit Book
              </button>
            </div>
          </div>
        </form>
        <div
          class="row no-gutters justify-content-center justify-content-center"
        >
          <div class="col-md-3 justify-content-center addbook-button">
          <a class="btn btn-secondary" href="{{url_for('delete_book',book_id=book._id)}}" role="button">Remove Book</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
